@import '../../globalStyles.scss';

.hero {
    height: 70vh;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
        z-index: -1;
    }
    .hero_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $light;
        font-size: 1.5rem;
        span {
            color: $mainColor;
        }
    }
};

@include mQ (1280px) {
    .hero_text {
        h2 {
            font-size: 2.2rem;
        }
        p {
            font-size: 2rem;
        }
    }
}
@include mQ (1024px) {
    .hero_text {
        h2 {
            font-size: 1.7rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
@include mQ (920px) {
    .hero {
        height: 40vh;
    }
}
@include mQ (820px) {
    .hero {
        height: 43vh;
    }
    .hero_text h2 {
        font-size: 1.9rem;
        span {
            font-size: 2.2rem;
        }
    }
    .hero_text p {
        font-size: 1.8rem;
    }
}
@include mQ (420px) {
    .about .about_info .about_image img {
        height: 14rem;
        width: 12rem;
    }
    .hero .hero_text {
        text-align: left;
        min-width: fit-content;
        
    }
    .hero_text h2 {
        font-size: 1.43rem;
        padding-bottom: .5rem;
    }
    .hero_text p {
        font-size: 1.3rem;
    }
}