body {
  color: #333;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.title {
  text-align: center;
  position: relative;
  font-family: "Permanent Marker", cursive;
}

.error,
.success {
  color: #fff;
  border-radius: 1rem;
}
.error span,
.success span {
  padding: 1rem;
  font-weight: 600;
}

.error {
  background: pink;
  color: red;
  border: 1px solid red;
}

.success {
  background: rgb(183, 215, 136);
  color: green;
  border: 1px solid green;
}

@media (max-width: 420px) {
  .title {
    font-size: 1.8rem;
  }
  .App.dark .nav .dark_mode {
    font-size: 1.7rem;
    cursor: pointer;
    filter: invert(100%);
  }
  .skills .skills_info .skills_lang .html,
.skills .skills_info .skills_lang .css,
.skills .skills_info .skills_lang .javaScript,
.skills .skills_info .skills_lang .redux,
.skills .skills_info .skills_lang .sass,
.skills .skills_info .skills_lang .bootstrap,
.skills .skills_info .skills_lang .react,
.skills .skills_info .skills_lang .nextjs,
.skills .skills_info .skills_lang .firebase {
    font-size: 1.5rem;
  }
}
.skills {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.skills .title {
  padding-top: 3rem;
  padding-bottom: 3.7rem;
}
.skills .skills_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  row-gap: 5rem;
}
.skills .skills_info .skills_details .skills_info_title {
  margin-bottom: 1.5rem;
  color: #f8b915;
}
.skills .skills_info .skills_details .skills_info_desc {
  margin-bottom: 1.5rem;
}
.skills .skills_info .skills_lang {
  font-size: 3rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.skills .skills_info .skills_lang .html {
  color: coral;
}
.skills .skills_info .skills_lang .css {
  color: #00c0dc;
}
.skills .skills_info .skills_lang .javaScript {
  color: #f0db4f;
}
.skills .skills_info .skills_lang .react {
  color: #61dbfb;
}
.skills .skills_info .skills_lang .sass {
  color: #cd6799;
}
.skills .skills_info .skills_lang .bootstrap {
  color: #553c7b;
}
.skills .skills_info .skills_lang .nextjs {
  color: #222;
}
.skills .skills_info .skills_lang .redux {
  color: #764abc;
}
.skills .skills_info .skills_lang .firebase {
  color: #ffa611;
}
.skills .skills_info .skills_lang .react-test {
  color: rgb(156, 15, 15);
}
.skills .skills_info .skills_lang span {
  font-size: 1rem;
  font-weight: 600;
}
.skills .skills_info .skills_image img {
  height: 440px;
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 3rem;
}

@media (max-width: 1024px) {
  .skills .skills_info {
    flex-direction: column-reverse;
    row-gap: 0.6rem;
  }
  .skills .skills_info .skills_lang {
    row-gap: 1rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
  .skills .skills_info .skills_image img {
    height: 270px;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 820px) {
  .skills .skills_info .skills_lang {
    margin-bottom: 2rem;
  }
}
@media (max-width: 420px) {
  .skills .skills_info .skills_lang {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    gap: 3rem;
    padding-top: 2rem;
  }
  .skills .skills_info .skills_image img {
    height: 228px;
    width: 400px;
  }
  .skills .skills_info .skills_details .skills_info_title {
    font-size: 1.3rem;
  }
  .skills .skills_info .skills_lang p span {
    margin-left: 0.5rem;
  }
}/*# sourceMappingURL=Skills.css.map */