@import "../../globalStyles.scss";

nav {
  position: sticky;
  top: 0;
  z-index: 100000;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  .menu {
    z-index: 1000;
  }
}
.nav {
  @include wrapper();
  @include flexBox(space-between, center, auto);
  padding: 1rem 0;
  position: relative;
  .logo {
    font-size: 1.9rem;
    font-family: "Permanent Marker", cursive;
    span {
      color: $mainColor;
    }
  }
  .menu_open,
  .menu_close {
    display: none;
    cursor: pointer;
  }
  .nav_links {
    display: flex;
    margin-right: 1rem;
    li {
      margin-right: 1rem;
      a {
        transition: 0.2s ease;
        font-size: 1.2rem;
        color: #333;
        &:hover {
          color: $mainColor;
        }
      }
    }
    .signBtn {
      background: $mainColor;
      color: #333;
      padding: 0.3rem 1rem;
      display: inline-block;
      font-weight: 700;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: -0.5rem;
      &:hover {
        color: #333;
      }
    }
  }
  .mode_icon {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .signin {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.bottom__nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  border: 0.5px solid #777;
  height: 5rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 100000;
  a {
    color: #222;
    text-decoration: none;
    font-weight: 500;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
      list-style: none;
      span {
        font-size: .85rem;
      }
    }
  }
}

.App.dark .bottom__nav {
  background: #222;
  border: 0.5px solid #777;
}

@include mQ(820px) {
  *,
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  .nav .logo a,
  .nav .logo span {
    font-size: 2.4rem;
  }
  .nav .nav_links li a {
    font-size: 1.6rem;
  }
  .nav .nav_links .signBtn {
    padding: 0.2rem 1.2rem;
    margin-top: 1.1rem;
    margin-bottom: 1.2rem;
  }
  .App.dark .nav .nav_links li a {
    color: #222;
  }
}

@include mQ(700px) {
  .nav .nav_links {
    display: none;
  }
  .bottom__nav {
    opacity: 1;
    pointer-events: all;
  }
}

@include mQ(420px) {
  *,
  body {
    font-size: 0.9rem;
  }
  .nav .logo a,
  .nav .logo span {
    font-size: 1.6rem;
  }
  .hero_text h2 span {
    font-size: 1.9rem;
  }
  .hero_text h2 {
    font-size: 1.4rem;
  }
  .hero_text p {
    font-size: 1.2rem;
  }
  .nav .nav_links li a {
    font-size: 1.3rem;
  }
  .nav .signin {
    margin-bottom: 0.5rem;
  }
  .App.dark .nav .dark_mode {
    font-size: 1.7rem;
    cursor: pointer;
    filter: invert(100%);
    color: dimgray;
  }
}
